* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 100, 0.7);
}

form {
    width: 650px;
    background-color: #F5F5FA;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #F0145A;
    font-size: 38px;
    line-height: 100%;
    font-weight: 700;
    margin: 30px;
}

.forms {
    width: 100%;
    border: 1px solid #FFFFFF;
    width: 590px;
    height: 56px;
    margin-left: 30px;
    border-radius: 8px;
}

.forms::placeholder {
    font-family: 'Montserrat';
    color: #B3B3BA;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 15px;
}

.massage {
    height: 130px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #B3B3BA;
    line-height: 100%;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.forms-margin {
    margin-bottom: 15px;
}

.send {
    width: 590px;
    height: 56px;
    background-color: #24A3FF;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 100%;
    border-radius: 12px;
    border: 1px solid rgba(36, 163, 255, 0.5);
    margin: 30px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin-top: 30px;
    margin-right: 30px;
    border: none; 
    background-color: transparent;
}