* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.slider { 
  position : relative; 
  max-width : 1024px ; 
  margin : 0 auto;
 } 

 .slide { 
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(245, 245, 250);
  position : absolute; 
  top : 0 ; 
  opacity : 0 ; 
  transition : opacity 0.5s ; 
} 

.slide img {
  height: 350px;
  object-fit: cover;
}

.titleColor {
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-link {
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
  text-decoration: none;
  padding-bottom: 5px;
}

.slide-link::after {
  content: url(../Homework_12/images/img4.png);
  padding-left: 2px;
}

.slide-text {
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  margin: 0;
}

.slide-author {
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  color: rgb(179, 179, 186);
  margin: 0;
  padding-top: 30px;
  padding-bottom: 6px;
}

.slide-author + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(179, 179, 186);
  margin: 0;
}

.slide-content {
  padding: 30px;
}

.slider-indicators {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 30px;
  padding-top: 160px;
}

.dot {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 25px;
  background-color: rgba(36, 163, 255, 0.2);
}

.slide.active { 
  opacity : 1 ; 
  transition : opacity 0.5s ; 
}

.btn{
  margin-top: 150px;
  border-radius: 25px;
  background-color: rgb(36, 163, 255);
  border: none;
  height: 35px;
  width: 35px;
  color: white;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}

.prev {
  visibility: hidden;
}

.active-dot {
  background-color: rgb(36, 163, 255);
}